<a href="https://colab.research.google.com/github/databykarinna/pengantar-data-sains/blob/main/Assignment_week2_pds.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# import library
import pandas as pd
import numpy as np

In [ ]:
# menghubungkan google drive ke colab
from google.colab import drive
drive.mount('/content/drive')

## cek nama folder/file
!ls /content/drive/MyDrive/"Dataset PDS"/heart.csv

# load dataset
df = pd.read_csv('/content/drive/MyDrive/Dataset PDS/heart.csv')
df

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
'/content/drive/MyDrive/Dataset PDS/heart.csv'

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [ ]:
# Melihat informasi data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [ ]:
# Statistik deskriptif
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.513171
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [ ]:
# Mengecek missing value

df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [ ]:
# Mendeteksi outlier menggunakan metode IQR
columns = df.columns.drop(['sex', 'cp', 'fbs', 'restecg',
                           'exang', 'slope', 'thal', 'target'])

for col in columns:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    outliers = df[(df[col] < lower_bound) | (df[col] > upper_bound)]

    print(f"\n~~~~~~~~~~~~~~~~~~~~ Outlier {col} ~~~~~~~~~~~~~~~~~~~~")
    print("Lower Bound    :", lower_bound)
    print("Upper Bound    :", upper_bound)
    print("Jumlah Outlier :", len(outliers))

# menampilkan data outlier
    print("\nData outlier pada", col,":")
    display(outliers[col])

~~~~~~~~~~~~~~~~~~~~ Outlier age ~~~~~~~~~~~~~~~~~~~~
Lower Bound    : 28.5
Upper Bound    : 80.5
Jumlah Outlier : 0

Data outlier pada age :

Series([], Name: age, dtype: int64)

~~~~~~~~~~~~~~~~~~~~ Outlier trestbps ~~~~~~~~~~~~~~~~~~~~
Lower Bound    : 90.0
Upper Bound    : 170.0
Jumlah Outlier : 30

Data outlier pada trestbps :

29     180
47     178
87     174
137    180
151    192
175    200
229    178
246    192
257    180
294    200
326    192
343    172
396    180
436    174
452    178
496    180
508    200
509    180
528    178
609    180
624    178
636    174
679    180
688    200
837    172
891    180
896    178
944    178
971    172
986    180
Name: trestbps, dtype: int64

~~~~~~~~~~~~~~~~~~~~ Outlier chol ~~~~~~~~~~~~~~~~~~~~
Lower Bound    : 115.0
Upper Bound    : 371.0
Jumlah Outlier : 16

Data outlier pada chol :

123    417
158    564
179    409
192    564
255    394
450    407
464    564
481    407
542    394
578    394
641    409
665    417
685    407
889    407
958    417
996    409
Name: chol, dtype: int64

~~~~~~~~~~~~~~~~~~~~ Outlier thalach ~~~~~~~~~~~~~~~~~~~~
Lower Bound    : 81.0
Upper Bound    : 217.0
Jumlah Outlier : 4

Data outlier pada thalach :

267    71
296    71
378    71
559    71
Name: thalach, dtype: int64

~~~~~~~~~~~~~~~~~~~~ Outlier oldpeak ~~~~~~~~~~~~~~~~~~~~
Lower Bound    : -2.7
Upper Bound    : 4.5
Jumlah Outlier : 7

Data outlier pada oldpeak :

54     5.6
55     5.6
69     6.2
393    6.2
526    6.2
613    5.6
833    5.6
Name: oldpeak, dtype: float64

~~~~~~~~~~~~~~~~~~~~ Outlier ca ~~~~~~~~~~~~~~~~~~~~
Lower Bound    : -1.5
Upper Bound    : 2.5
Jumlah Outlier : 87

Data outlier pada ca :

4       3
6       3
13      3
52      4
53      3
       ..
985     3
993     4
1003    3
1013    3
1015    3
Name: ca, Length: 87, dtype: int64